// -- vendor --
@import (inline) "../../../bower_components/ng-notify/dist/ng-notify.min.css";

@import (inline) "base.css";
@import (inline) "custom.css";
@import (inline) "theme.css";

#preloader {
	z-index: 1000;
}

#main, #dashboard {
	position: relative;
	height: 100%;
	background-color: #99aec5;
}

#dashboard nav .menuItem a.active {
	color: #1abc9c;
	background-color: transparent;
}

.navbar-brand {
	small {
		font-size: 12px;
		margin-left: 20px;
	}
}

#dashboard > .container {
	margin-top: 16px;

	.well {
		text-align: center;
		h3 {
			margin: 0;
		}
	}

	#items {
		.thumbnail {
			margin-bottom: 24px;
			text-align: center;
			.list-group-item-text {
				margin-bottom: 18px;
			}
			.row > div {
				text-align:center;
			}
		}
	}

	.empty-wrapper {
		background-color: #34495e;
		p {
			margin: 0;
			color: white;
		}
	}
}

.friends-list {
	margin: 0;
	padding: 0;

	li {
		a {
			display: block;

			img {
				margin-right: 16px;
			}

			&.active, &:hover {
				background-color: #eceef1;
			}
		}
	}
}

.quantity-wrapper {
	text-align: center;
    padding-top: 28px;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;

    label {
    	line-height: 20px;
    	margin: 0;
    }

    input[name="quantity"] {
		width: 100px;
		margin: 0;
		padding: 0 8px;
	}
}

.fb-login-button {
	line-height: 42px;
}