<div id="main" class="intro-header" ng-controller="MainController">
	<div class="col-xs-12 text-center abcen1">
		<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Santa Claus</h1>
		<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Items & gift system</h3>
		<ul class="list-inline intro-social-buttons">
			<li>
				<div class="fb-login-button" data-scope="basic_info,user_friends" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" onlogin="checkLoginState();"></div>
			</li>
		</ul>
	</div>
</div>

<style>
	.page {
		height: 100%;
	}
</style>