<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<html>
	<head>
		<title>Santa Claus</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    
    	<meta name="description" content="gift system for a game">
    	<meta name="author" content="Guilherme Oliveira">
		
		<link rel="shortcut icon" href="./images/favicon.png"/>
		
		<!-- Custom Google Web Font -->
	    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
		<link rel="stylesheet" href="./vendor/font-awesome/font-awesome.min.css">
		<link rel="stylesheet" href="./style.min.css">

		<script>
			var BASE_URL = '<%= cfg.api %>';
		</script>
	</head>

	<body ng-app="myapp">

		<!-- Preloader -->
		<div id="preloader" ng-if="loading">
			<div id="status"></div>
		</div>

		<div class="page" ui-view></div>
		
		<footer>
	      <div class="container">
	        <div class="row">
	          <div class="col-md-7">
	            <h3 class="footer-title">What is this?!</h3>
	            <p>This project is a case for Pretty Simple games.<br> It contains the implementation of a gift system</p>
				
				<!-- LICENSE -->
				<a rel="cc:attributionURL" href="https://bitbucket.org/ghophp/santaclaus-frontend"
			   property="dc:title">Santa Claus </a> by
			   <a rel="dc:creator" href="http://ghophp.github.io/"
			   property="cc:attributionName">Guilherme Oliveira</a>
			   is licensed to the public under 
			   <BR>the <a rel="license"
			   href="https://en.wikipedia.org/wiki/GNU_Lesser_General_Public_License">LGPL - NOT COMMERCIAL</a>.
			   
		   
	          </div> <!-- /col-xs-7 -->

	          <div class="col-md-5">
	            <div class="footer-banner">
	              <h3 class="footer-title">Guilherme Oliveira</h3>
	              <ul>
	                <li>Pretty Simple Games</li>
	                <li>Software Engineering</li>
	                <li>Prototype / Case</li>
	              </ul>
	              Go to: <a href="http://ghophp.github.io/" target="_blank">ghophp.github.io</a>
	            </div>
	          </div>
	        </div>
	      </div>
	    </footer>
	</body>

	<!-- Vendors -->
	<script src="./vendor/moment/moment.min.js"></script>
	<script src="./vendor/jquery/jquery.min.js"></script>
	<script src="./vendor/angular/angular.min.js"></script>
	<script src="./vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="./vendor/ng-notify/ng-notify.min.js"></script>
	<script src="./vendor/angular-ui-router/angular-ui-router.js"></script>
	<script src="./vendor/angular-animate/angular-animate.min.js"></script>
	<script src="./vendor/angular-cookies/angular-cookies.min.js"></script>

	<!-- APP -->
	<script src="./app.min.js"></script>
	<script src="./template.js"></script>

	<!-- bootstrap templates -->
	<script src="./vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

	<script>
	  function checkLoginState() {
	  	var $body = angular.element(document.body);
		var $rootScope = $body.scope().$root;
		$rootScope.checkLoginStatus();
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
</html>
