<div id="dashboard" ng-controller="DashboardController">
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">Santa Claus <small>{{ user.name }}</small></a>
			</div>
			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="menuItem"><a href="javascript:void(0)" ng-click="loadMyItems()" ng-class="{active: isMyItemsState()}">My Items</a></li>
					<li class="menuItem"><a href="javascript:void(0)" ng-click="loadGifts()" ng-class="{active: isGiftsState()}">Gifts</a></li>
					<li class="menuItem"><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
				</ul>
			</div>
		   
		</div>
	</nav>

	<div class="container">
	    <div class="well well-sm">
	        <h3><strong>{{ title }}</strong></h3>
	    </div>
	    <div id="items" class="row list-group" ng-if="items.length > 0">
	        <div class="item  col-xs-4 col-lg-4" ng-repeat="item in items">
	            <div class="thumbnail">
	                <img class="group list-group-image" ng-src="{{ item.picture }}" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">{{ item.name }}</h4>
	                    <p ng-if="item.quantity && item.quantity > 0">Quantity x{{ item.quantity }}</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-12">
	                            <a class="btn btn-success" ng-click="onItemClick(item)" href="javascript:void(0)">
	                            	<span ng-if="isMyItemsState()">Send as gift</span>
	                            	<span ng-if="isGiftsState()">Claim Gift!</span>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="well empty-wrapper" ng-if="items.length <= 0">
	    	<p>You have no {{ name() }}</p>
	    </div>
	</div>

</div>