<div class="modal-header">
    <h4 class="modal-title">Please select the friend to send to:</h4>
</div>
<div class="modal-body">
    <p ng-if="friends.length <= 0">You have no friends using the app still :/</p>
    <ul class="friends-list" ng-if="friends.length > 0">
        <li ng-repeat="friend in friends">
            <a href="javascript:void(0)" ng-click="select(friend)" ng-class="{active: friend.id == selected}">
                <img ng-src="http://graph.facebook.com/{{ friend.id }}/picture?type=square"/>
                <span>{{ friend.name }}</span>
            </a>
        </li>
    </ul>
    <div class="quantity-wrapper">
        <label>Quantity to send</label>
        <input name="quantity" type="number" value="1" min="0" max="{{ max }}" required/>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Send</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>